* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --font-family-rubik: rubik;
    --main-black-color: #000000;
    --main-white-color: #ffffff;
    --font-family-reddit: reddit sans;
    --main-light-green-color: #43c7b1;
    --main-yellow-color: rgb(255, 230, 0);
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maiden {
    width: 500px;
    bottom: 40px;
    height: 400px;
}

.lftlftbtndrpdwnn {
    gap: 10px;
    width: 90vw;
    color: white;
    height: 40px;
    margin: auto;
    display: flex;
    padding: 0 20px;
    margin-top: 10px;
    max-width: 1550px;
    position: relative;
    align-items: center;
    border-radius: 20px;
    justify-content: space-between;
    font-family: var(--font-family-reddit);
    background-color: var(--main-light-green-color);
}

.onedaytourcitychoose {
    top: 90px;
    height: 110px !important;
}

.input-container {
    width: 320px;
    display: flex;
    position: relative;
  }
  
  .iconinput {
    position: absolute;
    right: 80px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
  }
  
  .input {
    width: 100%;
    height: 40px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
  }
  
  .input-container:hover > .icon {
    animation: anim 1s linear infinite;
  }
  
  @keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
  
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
  }

.sectionsecondonedaytour {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
}

.touroneimgdiv {
    display: flex;
    justify-content: center;
}

.touroneimg {
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tourone:hover {
    box-shadow:
        1.7px 1.7px 1.2px rgba(0, 0, 0, 0.081),
        4px 4.1px 3px rgba(0, 0, 0, 0.11),
        7.5px 7.8px 5.6px rgba(0, 0, 0, 0.127),
        13.4px 13.8px 10.1px rgba(0, 0, 0, 0.137),
        25.1px 25.9px 18.8px rgba(0, 0, 0, 0.137),
        60px 62px 45px rgba(0, 0, 0, 0.1);
}

.tourone {
    height: 430px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: rgb(235, 235, 235);
    box-shadow:
        1.7px 1.7px 1.2px rgba(0, 0, 0, 0.014),
        4px 4.1px 3px rgba(0, 0, 0, 0.03),
        7.5px 7.8px 5.6px rgba(0, 0, 0, 0.047),
        13.4px 13.8px 10.1px rgba(0, 0, 0, 0.065),
        25.1px 25.9px 18.8px rgba(0, 0, 0, 0.082),
        60px 62px 45px rgba(0, 0, 0, 0.1);
}

.touronediv {
    height: 180px;
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--font-family-reddit);
}

.sectionsecondonedaytour {
    padding: 0 20px;
}

.cta {
    border: none;
    width: 160px;
    display: flex;
    cursor: pointer;
    background: none;
    position: relative;
    padding: 12px 18px;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.cta:before {
    top: 0;
    left: 0;
    width: 45px;
    content: "";
    height: 45px;
    display: block;
    position: absolute;
    border-radius: 50px;
    background: #7dd7c8;
    transition: all 0.3s ease;
}

.cta span {
    color: #234567;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    letter-spacing: 0.05em;
    font-family: "Ubuntu", sans-serif;
}

.cta svg {
    top: 0;
    fill: none;
    stroke-width: 2;
    stroke: #234567;
    margin-left: 10px;
    position: relative;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 0.3s ease;
    transform: translateX(-5px);
}

.cta:hover:before {
    width: 100%;
    background: #43c7b1;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

.pl {
    display: block;
    width: 9.375em;
    height: 9.375em;
}

.pl__arrows,
.pl__ring-rotate,
.pl__ring-stroke,
.pl__tick {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pl__arrows {
    animation-name: arrows42;
    transform: rotate(45deg);
    transform-origin: 16px 52px;
}

.pl__ring-rotate,
.pl__ring-stroke {
    transform-origin: 80px 80px;
}

.pl__ring-rotate {
    animation-name: ringRotate42;
}

.pl__ring-stroke {
    animation-name: ringStroke42;
    transform: rotate(-45deg);
}

.pl__tick {
    animation-name: tick42;
}

.pl__tick:nth-child(2) {
    animation-delay: -1.75s;
}

.pl__tick:nth-child(3) {
    animation-delay: -1.5s;
}

.pl__tick:nth-child(4) {
    animation-delay: -1.25s;
}

.pl__tick:nth-child(5) {
    animation-delay: -1s;
}

.pl__tick:nth-child(6) {
    animation-delay: -0.75s;
}

.pl__tick:nth-child(7) {
    animation-delay: -0.5s;
}

.pl__tick:nth-child(8) {
    animation-delay: -0.25s;
}

/* Animations */
@keyframes arrows42 {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(405deg);
    }
}

@keyframes ringRotate42 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(720deg);
    }
}

@keyframes ringStroke42 {

    from,
    to {
        stroke-dashoffset: 452;
        transform: rotate(-45deg);
    }

    50% {
        stroke-dashoffset: 169.5;
        transform: rotate(-180deg);
    }
}

@keyframes tick42 {

    from,
    3%,
    47%,
    to {
        stroke-dashoffset: -12;
    }

    14%,
    36% {
        stroke-dashoffset: 0;
    }
}

.loadingscreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}