.section-first {
    margin: -40px auto 0 auto;
}

.sectionslider {
    width: 100vw;
    max-width: 1600px;
    display: flex;
    justify-content: center;
}

.murad {
    width: 100vw;
    display: flex;
    height: 100vh;
    object-fit:cover;
    /* max-width: 1600px; */
    justify-content: center;
}

.textholder{
    background-color: rgba(0, 0, 0, 0.478);
}

#body{
    display: flex;
    justify-content: center;
}

#header{
    position: absolute;
    z-index: 999;
}

#container{
    background-color: transparent !important;
}