* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --font-family-rubik: rubik;
    --main-black-color: #000000;
    --main-white-color: #ffffff;
    --font-family-reddit: reddit sans;
    --main-light-green-color: #43c7b1;
    --main-yellow-color: rgb(255, 230, 0);
}

.mainpage{
    max-width: 100%;
}

.lftlftbtndrpdwnul {
    display: none;
}

.rghtlftbtndrpdwnul {
    display: none;
}

.citychoose {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lftlftbtndrpdwn,
.lftrghtbtndrpdwn {
    gap: 10px;
    width: 90vw;
    height: 40px;
    margin: auto;
    display: flex;
    padding: 0 20px;
    margin-top: 10px;
    position: relative;
    align-items: center;
    border-radius: 20px;
    font-family: var(--font-family-reddit);
    background-color: var(--main-light-green-color);
}

.lftlftbtndrpdwnulactive {
    top: 45px;
    left: 0px;
    width: 90vw;
    z-index: 9999;
    display: block;
    padding: 0 10px;
    overflow: hidden;
    list-style: none;
    max-height: 200px;
    position: absolute;
    overflow-y: scroll;
    background-color: #fff;
}

.rghtlftbtndrpdwnulactive{
    top: 45px;
    left: 0px;
    width: 90vw;
    z-index: 9999;
    display: block;
    padding: 0 10px;
    overflow: hidden;
    list-style: none;
    max-height: 200px;
    position: absolute;
    overflow-y: scroll;
    background-color: #fff;
}

.lftlftbtndrpdwnul li{
    padding: 2px 5px;
}

.lftlftbtndrpdwnul li:hover {
    background-color: var(--main-light-green-color);
}

.containerfrstsc{
    display: flex;
    width: 92vw;
    justify-content: center;
    border: 4px solid green;
}

.sectionfirst {
    max-width: 100%;
    height: 100vh;
    display: flex;
    height: 174px;
    margin: 0 auto;
    margin-top: -80px;
    position: absolute;
    margin-bottom: 1000px;
    background-color: #fff;
    justify-content: center;
}

.checkoutpart{
    width: 90vw;
    display: flex;
    min-height: 70px;
    margin-top: 10px;
    align-items: center;
    border-radius: 35px;
    justify-content: center;
    background-color: var(--main-yellow-color);
}

.checkoutpart span{
    gap: 10px;
    display: flex;
    transition: 0.2s;
    align-items: center;
    font-family: var(--font-family-reddit);
}

.checkoutpart:hover span{
    gap: 15px;
    border-bottom: 1px solid black;
}
