* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-black-color: #000000;
    --main-white-color: #ffffff;
    --font-family-rubik: rubik;
    --font-family-reddit: reddit sans;
    --main-light-green-color: #43c7b1;
    --main-yellow-color: rgb(255, 230, 0);
}

.sectionfirst {
    height: 70px;
    position: relative;
}

.citychoose {
    z-index: 1;
    left: 300px;
    width: 920px;
    margin: auto;
    height: 120px;
    display: flex;
    margin-top: -60px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 5px 4px 10px gray;
    background-color: var(--main-white-color);
}

.leftbuttons {
    gap: 40px;
    display: flex;
    padding: 30px 30px;
    align-items: center;
}

.leftbuttons div {
    width: 325px;
    height: 54px;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    border-radius: 30px;
    justify-content: space-between;
    color: var(--main-white-color);
    font-family: var(--font-family-rubik);
    background-color: var(--main-light-green-color);
}

.checkoutpart {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--main-yellow-color);
    display: flex;
    font-size: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-rubik);
}

.checkoutpart span {
    display: flex;
    align-items: center;
    transition: 0.1s;
    gap: 4px;
}

.checkoutpart:hover span {
    margin-bottom: -1px;
    border-bottom: 1px solid black;
    gap: 8px;
}

.lftlftbtndrpdwn {
    position: relative;
}

.lftlftbtndrpdwnul {
    display: none;
    color: black;
    position: absolute;
}

.lftlftbtndrpdwnulactive {
    gap: 10px;
    top: 60px;
    left: 10px;
    width: 300px;
    display: flex;
    height: 250px;
    list-style: none;
    padding: 10px 10px;
    overflow-y: scroll;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 10px;
}

.lftlftbtndrpdwnul li {
    padding-left: 10px;
}

.lftlftbtndrpdwnul li:hover {
    background-color: var(--main-light-green-color);
}

.rghtlftbtndrpdwn {
    position: relative;
}

.rghtlftbtndrpdwnul {
    display: none;
    color: black;
    position: absolute;
}

.rghtlftbtndrpdwnulactive {
    gap: 10px;
    top: 92px;
    right: 212px;
    width: 300px;
    display: flex;
    height: 100px;
    list-style: none;
    padding: 10px 10px;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 10px;
}

.rghtlftbtndrpdwnul li {
    padding-left: 10px;
}

.rghtlftbtndrpdwnul li:hover {
    background-color: var(--main-light-green-color);
}

.sectionsecond {
    width: 100%;
    height: 800px;
    border: 1px solid red;
    padding: 90px 200px;
}

.scndsctntxt {
    width: 923px;
    font-family: var(--font-family-rubik);
}

.scndsctntxt h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 35px;
}

.scndsctntxt p {
    color: #202020;
    font-size: 18px;
    line-height: 30px;
}

.scndsctnup {
    display: flex;
    gap: 20px;
}

.scndsctnup button {
    width: 70px;
    height: 50px;
    margin-top: 80px;
    border-radius: 25px;
}

.btntoleft {
    margin-left: 90px;
}

.sliderone {
    width: 500px;
    height: 500px;
    border-radius: 16px;
    background-color: rgb(236,239,250);
    font-family: var(--font-family-reddit);
}

.slideruno {
    width: 500px;
    height: 300px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.sliderone button{
    display: flex;
    align-items: center;
}