* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "rubik"; */
    /* font-family: "reddit sans"; */
}

:root {
    --main-black-color: #000000;
    --main-white-color:#ffffff;
    --main-light-green-color: #43c7b1;
    --font-family-rubik: rubik;
    --font-family-reddit: reddit;
}

.logo {
    width: 130px;
    object-fit: fill;
}

header {
    gap: 20px;
    width: 74%;
    margin: auto;
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.upperpart {
    width: 100%;
    height: 680px;
    background-color: var(--main-light-green-color);
}

.headerul {
    gap: 20px;
    display: flex;
    list-style: none;
}

.headerul a {
    font-size: 18px;
    text-decoration: none;
    font-family: "reddit sans";
    color: var(--main-black-color);
}

.btnsdv button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid black;
    background-color: transparent;
}

.chcktbtn{
    width: 100px;
    height: 50px;
    border: none;
    transition: 0.2s;
    font-weight: 600;
    border-radius: 25px;
    font-family: var(--font-family-rubik);
    background-color: var(--main-white-color);
}

.chcktbtn:hover{
    transform: scale(1.05);
    background-color: #eeecec;
}
