:root {
    --width-container: 540px;
}

.flex input {
    min-width: 84vw;
    max-width: 180px;
    font-size: 16px;
}

.ccontainer {
    display: flex;
    max-width: 100%;
    border: var(--border);
    align-items: flex-start;
    padding: 0 var(--space-8);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    width: var(--width-container);
    justify-content: space-between;
    background-color: var(--color-white);
}

.input-row {
    display: flex;
    max-width: 40%;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 5px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    border-bottom: var(--border);
    background-color: #fff;
    box-shadow: 3px 3px 8px gray;
}

.input-row h2 {
    font-size: 12px;
}

.input-row:last-child {
    border-bottom: 0;
}

.title {
    margin-right: var(--space-8);
}

.label {
    margin-bottom: var(--space-1);
    font-weight: bold;
}

.description {
    color: var(--color-gray-600);
}

.input {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.ccontainer button {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    /* width: var(--space-12); */
    width: 10px;
    height: var(--space-12);
    height: 10px;
    border: 1px solid var(--color-blue-500);
    border-radius: var(--round);
    background-color: var(--color-white);
}

.ccontainer button:hover {
    background-color: var(--color-blue-200);
    cursor: pointer;
}

.ccontainer button:focus {
    outline: none;
    box-shadow: var(--shadow-focus);
}

.ccontainer button[disabled] {
    opacity: var(--opacity-50);
    pointer-events: none;
}

.ccontainer button:active {
    background-color: var(--color-blue-300);
}

.number {
    font-size: var(--text-lg);
    min-width: var(--space-12);
    text-align: center;
}

.icon {
    user-select: none;
}

.dim {
    color: var(--color-gray-400);
}

.minus {
    margin-right: 10px !important;
}

.plus {
    margin-left: 10px !important;
}

@media screen and (min-width:830px) {
    .box {
        /* border: 10px solid red; */
        margin: auto;
        left: auto !important;
        right: auto !important;
        display: flex;
        align-self: center !important;
        justify-self: center !important;
    }
}

.search-container {
    width: 94vw;
    min-height: 500px;
    display: flex;
    transition: 0.2s;
    max-width: 1400px;
    margin: 60px auto;
    padding: 20px 20px;
    position: relative;
    border-radius: 5px;
    flex-direction: column;
    font-family: var(--font-family-reddit);
    background-color: rgb(5, 32, 60);
    box-shadow:
        0px 0px 2px rgba(0, 0, 0, 0.052),
        0px 0px 3px rgba(0, 0, 0, 0.099),
        0px 0px 4px rgba(0, 0, 0, 0.108),
        0px 0px 9px rgba(0, 0, 0, 0.179),
        0px 0px 4px rgba(0, 0, 0, 0.254),
        0px 0px 8px rgba(0, 0, 0, 0.33);
}

.coontainer form {
    gap: 2px;
    left: 3px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
}

.coontainer label {
    display: flex;
    cursor: pointer;
    color: white;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    font-size: 14px;
}

.coontainer label input {
    position: absolute;
    left: -9999px;
}

.coontainer label input:checked+span {
    background-color: #e0e0f5;
    color: #00005c;

}

.coontainer label input:checked+span:before {
    box-shadow: inset 0 0 0 0.4375em #00005c;
}

.coontainer label span {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
}

.coontainer label span:hover {
    background-color: #e0e0f5;
    color: #00005c;
}

.coontainer label span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #00005c;
}

.coontainer {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    display: flex;
    width: 90% !important;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.search-hotels-container {
    display: flex;
    height: 283px;
    margin-bottom: 33px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.skyscanner {
    filter: invert(100%);
    width: 200px;
    color: white;
    height: 40px;
}

.tab-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.deactive {
    cursor: pointer;
}

.flex h1 {
    min-width: 45px;
    text-align: center;
}

.indecbtn {
    margin: 5px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    min-width: 30px !important;
    min-height: 30px !important;
}

.search-container:hover {
    box-shadow:
        0px 0px 4px rgba(0, 0, 0, 0.052),
        0px 0px 6px rgba(0, 0, 0, 0.099),
        0px 0px 8px rgba(0, 0, 0, 0.108),
        0px 0px 18px rgba(0, 0, 0, 0.179),
        0px 0px 8px rgba(0, 0, 0, 0.254),
        0px 0px 16px rgba(0, 0, 0, 0.33);
}

.tab-header {
    width: 200px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}

.tab {
    gap: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
    padding: 10px 20px;
    border-radius: 4px;
    border-radius: 50px;
    background: #05203C;
    align-self: flex-end;
    border: 2px solid white;
    margin: 0 10px 20px 10px;
    box-shadow: 2px 2px 5px gray;
}

.btnhldr button {
    display: inline-flex;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.tab:hover {
    color: white !important;
    box-shadow: 4px 4px 10px gray;
    background-color: rgb(21, 70, 121);
}

.active {
    color: white !important;
    transition: 0.2s;
    background-color: #007bff;
}

.search-form {
    display: flex;
    flex-direction: column;
}

.form-group-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group label {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

input[type='radio'] {
    width: 10px;
    height: 10px;
    display: flex;
}

.form-group select {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}



.input-style {
    color: black;
    height: 40px;
    width: 84vw;
    max-width: 510px;
    outline: none;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid #ccc;
}



.input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-group-four {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label-select-option {
    color: white;
}

.label-select-option label {
    margin-right: 10px;
}

.idun {
    width: 200px;
    padding: 5px;
    align-self: flex-end;
    box-shadow: 2px 2px 5px black;
}


.form-group-two {
    /* display: flex; */
    align-items: center;
    flex-direction: column;
}


.inputholder {
    display: flex;
    flex-direction: column;
}

.scndinput {
    border: none;
    outline: none;
    color: black;
    padding: 12px;
    font-size: 14px;
    width: 88vw;
    font-weight: 500;
    max-height: 36px;
    max-width: 740px;
    position: relative;
    border-radius: 5px;
    margin: 0 !important;
    background-color: #fefefe;
    transition-duration: 200ms;
    border-bottom: 2px solid black;
    font-family: var(--font-family-reddit);
    transition-property: background-color;
    box-shadow:
        0px 0px 2.2px rgba(0, 0, 0, 0.052),
        0px 0px 5.3px rgba(0, 0, 0, 0.099),
        0px 0px 10px rgba(0, 0, 0, 0.108),
        0px 0px 9px rgba(0, 0, 0, 0.179),
        0px 0px 4px rgba(0, 0, 0, 0.254),
        0px 0px 8px rgba(0, 0, 0, 0.33);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form-group-hotels {
    /* height: 80px; */
    display: flex;
    margin-bottom: 20px;
    width: 90% !important;
    flex-direction: column;
}

.flexx {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.flexx input {
    width: 46%;
    height: 40px;
}

.form-group-three {
    gap: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.form-group-three input {
    width: 50px;
    border: none;
    padding: 3px;
    margin: 15px 10px;
    margin-left: -60px;
    border-radius: 8px;
    background-color: #fff;
    justify-content: flex-end;
    border-bottom: 2px solid black;
    box-shadow:
        0px 0px 2.2px rgba(0, 0, 0, 0.052),
        0px 0px 5.3px rgba(0, 0, 0, 0.099),
        0px 0px 10px rgba(0, 0, 0, 0.108),
        0px 0px 9px rgba(0, 0, 0, 0.179),
        0px 0px 4px rgba(0, 0, 0, 0.254),
        0px 0px 8px rgba(0, 0, 0, 0.33);
}

.flex {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.flex label {
    width: 100px;
}

.procedbtn {
    width: 200px;
    border: none;
    cursor: pointer;
    color: #05203C;
    padding: 1em 2em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    /* margin: 5px 9px; */
    border-radius: 1.1em;
    letter-spacing: 0.1em;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #1c1c1c;
    --hover-shadows: 4px 4px 10px #121212;
    font-family: var(--font-family-reddit);
    --accent: var(--main-light-green-color);
    transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.1s,
        letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
}

.procedbtn:hover {
    box-shadow: 3px 3px 6px rgb(82, 82, 82);
}

.procedbtn:active {
    transform: scale(0.95);
    background-color: var(--accent);
    box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
}

.autocomplete {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.autocomplete {
    display: flex;
    position: relative;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.iconholder {
    left: auto;
    right: auto;
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    background-color: white;
    border: 4px solid #00005c;
}

.autocompletehotel {
    display: flex;
    height: 38px;
    position: relative;
}

.suggestions {
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1000;
    overflow-y: auto;
    max-height: 150px;
    position: absolute;
    list-style-type: none;
    background-color: white;
    border: 1px solid #ccc;
}

.suggestions li {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}

.suggestionshotel {
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 100%;
    z-index: 1000;
    overflow-y: auto;
    max-height: 150px;
    position: absolute;
    list-style-type: none;
    background-color: white;
    border: 1px solid #ccc;
}

.suggestionshotel li {
    padding: 8px;
    cursor: pointer;
}

.suggestionshotel li:hover {
    background-color: #f0f0f0;
}

.flex {
    display: flex;
    align-items: center;
}

.increase-decrease-btn {
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 1px solid #ccc;
    justify-content: center;
}

.counter h1 {
    margin: 0 10px;
}

.search-form {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.aradio-inputs {
    gap: 2px;
    width: 300px;
    display: flex;
    margin: 0 10px;
    flex-wrap: wrap;
    font-size: 14px;
    margin: 5px auto 0 auto;
    transition: 0.3s;
    padding: 0.25rem;
    position: relative;
    border-radius: 0.5rem;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
}

.aradio-inputs .aradio {
    flex: 1 1 auto;
    transition: 0.3s;
    text-align: center;
}

.aradio-inputs .aradio input {
    display: none;
    transition: 0.3s;
}

.iconholder {
    z-index: 1;
}

.aradio-inputs .aradio .nname {
    border: none;
    display: flex;
    cursor: pointer;
    padding: .5rem 0;
    transition: 0.3s;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.aradio-inputs .aradio input:checked+.nname {
    color: white;
    transition: 0.3s;
    font-weight: 600;
    background-color: #05203C;
}

.aradio-inputs .aradio:hover .nname {
    color: white;
    transition: 0.3s;
}

.aradio-inputs .aradio:hover {
    color: white;
    transition: 0.3s;
    font-weight: 600;
    border-radius: 0.5rem;
    background-color: #05203C;
}

.selectedtocode {
    right: 15px;
    display: flex;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    align-items: center;
    background-color: #fff;
    border-left: 1px solid #05203C;
    box-shadow: -5px 0px 6px white;
}

.mydiv {
    display: flex;
    align-items: center;
}

.mydiv input{
    padding-right: 70px;
}

.selectedfromcode {
    right: 15px;
    display: flex;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    align-items: center;
    background-color: #fff;
    border-left: 1px solid #05203C;
    box-shadow: -5px 0px 6px white;
}

@media screen and (min-width:1300px) {
    .input-style {
        height: 80px;
        color: black;
        width: 494px;
        outline: none;
        font-size: 20px;
        border-radius: 5px;
        padding: 10px 20px;
        border: 2px solid #ccc;
    }

    .mydiv {
        position: relative;
    }

    .inputuno {
        border-top-left-radius: 30px !important;
        border-bottom-left-radius: 30px !important;
    }

    .input-style.inputcuatro {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .autocomplete {
        flex-direction: row;
    }

    .inputholder {
        gap: 5px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .flex {
        flex-direction: row;
        margin: 0;
    }

    .flex input {
        min-width: 165px;
        max-width: 165px;
    }

    .input-style {
        width: 33vw;
    }

    .mydiv .input-style {
        padding-right: 73px;
    }

    .search-container {
        min-height: 320px;
    }

    .search-hotels-container {
        min-height: 200px;
        max-height: 200px;
    }

    .input-row h2 {
        font-size: 20px;
    }

    .number {
        font-size: 20px;
    }

    .aradio-inputs span {
        font-size: 16px;
    }

    .form-group-three {
        display: flex;
        justify-content: space-between;
    }

    .inputuno {
        padding-right: 70px !important;
    }

    .aradio-inputs {
        margin: 0 5px;
    }

    .ccontainer {
        margin: 0;
        display: flex;
        justify-content: flex-start;
    }

    .input-row {
        margin: 5px;
    }

    .mydiv {
        display: flex;
        align-items: center;
    }

    .selectedtocode {
        right: 5px;
        height: 80%;
        display: flex;
        padding: 0 10px;
        font-size: 20px;
        position: absolute;
        text-align: center;
        align-items: center;
        background-color: #fff;
        border-left: 1px solid #05203C;
        box-shadow: -10px 0px 3px white;
    }

    .selectedfromcode {
        right: 15px;
        height: 80%;
        display: flex;
        padding: 0 10px;
        font-size: 20px;
        position: absolute;
        text-align: center;
        align-items: center;
        background-color: #fff;
        border-left: 1px solid #05203C;
        box-shadow: -5px 0px 6px white;
    }
}

@media screen and (max-width: 365px) {
    .tab-container {
        flex-direction: column;
    }

    .ccontainer {
        flex-direction: column;
    }

    .input-row {
        min-width: 82vw;
    }

    .cloud {
        width: 50px;
        height: 50px;
        right: 90px;
    }

    .infouno svg,
    .infodos svg,
    .infotres svg {
        max-width: 200px;
    }

    .infouno h1,
    .infodos h1,
    .infotres h1 {
        font-size: 10px;
    }

    .infouno,
    .infodos,
    .infotres {
        font-size: 10px;
        max-width: 200px;
    }

    .card {
        max-width: 200px;
        font-size: 12px;
        padding: 0px;
    }

    .cloud {
        right: auto;
        left: 100px;
    }

    .main-text {
        margin-top: 10px;
        width: 100px;
    }

    .info {
        margin-bottom: 30px;
        flex-direction: column;
        max-width: 100px;
    }

    #card {
        max-width: 200px;
    }

    .info-right {
        justify-content: flex-start;
        align-items: flex-start;
        left: 0;
    }

    .info-left {
        max-width: 100px;
    }

    .procedbtn {
        max-width: 100px;
    }

    .yellowcircle {
        min-width: 100px;
        max-width: 100px;
        min-height: 100px;
        max-height: 100px;
    }
}