:root {
    --width-container: 540px;
}

.ccontainer {
    display: flex;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
}

.input-row {
    height: 45px;
    display: flex;
    max-width: 40%;
    margin: 0 auto;
    padding: 0 10px;
    min-width: 130px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    justify-content: center;
    box-shadow: 1px 1px 4px gray;
}

.input-row div {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-row h2 {
    font-size: 12px;
}

.description {
    color: var(--color-gray-600);
}

.input {
    display: flex;
    align-items: center;
    padding: 0 !important;
}

.ccontainer button {
    margin: 5px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    height: var(--space-12);
    justify-content: center;
    border-radius: var(--round);
    background-color: var(--color-white);
    border: 1px solid var(--color-blue-500);
}

.ccontainer button:hover {
    cursor: pointer;
    background-color: var(--color-blue-200);
}

.ccontainer button:focus {
    outline: none;
    box-shadow: var(--shadow-focus);
}

.ccontainer button[disabled] {
    pointer-events: none;
    opacity: var(--opacity-50);
}

.ccontainer button:active {
    background-color: var(--color-blue-300);
}

.number {
    text-align: center;
    font-size: var(--text-lg);
    min-width: var(--space-12);
}

.icon {
    user-select: none;
}

.dim {
    color: var(--color-gray-400);
}

.search-container {
    width: 94vw;
    display: flex;
    transition: 0.2s;
    min-height: 400px;
    max-width: 1400px;
    margin: 60px auto;
    padding: 20px 20px;
    position: relative;
    border-radius: 5px;
    flex-direction: column;
    font-family: var(--font-family-reddit);
    background-color: rgb(5, 32, 60);
    box-shadow:
        0px 0px 2px rgba(0, 0, 0, 0.052),
        0px 0px 3px rgba(0, 0, 0, 0.099),
        0px 0px 4px rgba(0, 0, 0, 0.108),
        0px 0px 9px rgba(0, 0, 0, 0.179),
        0px 0px 4px rgba(0, 0, 0, 0.254),
        0px 0px 8px rgba(0, 0, 0, 0.33);
}

.coontainer form {
    gap: 2px;
    left: 3px;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
}

.coontainer label {
    color: white;
    display: flex;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    margin-bottom: 0.375em;
}

.coontainer label input {
    left: -9999px;
    position: absolute;
}

.coontainer label input:checked+span {
    color: #00005c;
    background-color: #e0e0f5;

}

.coontainer label input:checked+span:before {
    box-shadow: inset 0 0 0 0.4375em #00005c;
}

.coontainer label span {
    display: flex;
    align-items: center;
    border-radius: 99em;
    transition: 0.25s ease;
    padding: 0.375em 0.75em 0.375em 0.375em;
}

.coontainer label span:hover {
    color: #00005c;
    background-color: #e0e0f5;
}

.coontainer label span:before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    display: flex;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    background-color: #fff;
    box-shadow: inset 0 0 0 0.125em #00005c;
}

.coontainer {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    width: 90% !important;
    justify-content: center;
}

.search-hotels-container {
    display: flex;
    height: 283px;
    align-items: center;
    margin-bottom: 33px;
    flex-direction: column;
    justify-content: center;
}

.skyscanner {
    color: white;
    width: 200px;
    height: 40px;
    filter: invert(100%);
}

.tab-container {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
}

.deactive {
    cursor: pointer;
}

.indecbtn {
    margin: 5px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    min-width: 30px !important;
    min-height: 30px !important;
}

.search-container:hover {
    box-shadow:
        0px 0px 4px rgba(0, 0, 0, 0.052),
        0px 0px 6px rgba(0, 0, 0, 0.099),
        0px 0px 8px rgba(0, 0, 0, 0.108),
        0px 0px 18px rgba(0, 0, 0, 0.179),
        0px 0px 8px rgba(0, 0, 0, 0.254),
        0px 0px 16px rgba(0, 0, 0, 0.33);
}

.tab-header {
    width: 200px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}

.tab {
    gap: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
    padding: 10px 20px;
    border-radius: 4px;
    border-radius: 50px;
    background: #05203C;
    align-self: flex-end;
    border: 2px solid white;
    margin: 0 10px 20px 10px;
    box-shadow: 2px 2px 5px gray;
}

.btnhldr button {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.tab:hover {
    color: white !important;
    box-shadow: 4px 4px 10px gray;
    background-color: rgb(21, 70, 121);
}

.active {
    transition: 0.2s;
    color: white !important;
    background-color: #007bff;
}

.search-form {
    display: flex;
    flex-direction: column;
}

.form-group-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group label {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}

input[type='radio'] {
    width: 10px;
    height: 10px;
    display: flex;
}

.form-group select {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.input-style {
    width: 84vw;
    color: black;
    height: 40px;
    outline: none;
    font-size: 16px;
    max-width: 510px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #ccc;
}

.input-style:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-group-four {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label-select-option {
    color: white;
}

.label-select-option label {
    margin-right: 10px;
}

.idun {
    width: 200px;
    padding: 5px;
    align-self: flex-end;
    box-shadow: 2px 2px 5px black;
}

.form-group-two {
    align-items: center;
    flex-direction: column;
}

.inputholder {
    display: flex;
    flex-direction: column;
}

.scndinput {
    width: 88vw;
    color: black;
    border: none;
    outline: none;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    max-height: 36px;
    max-width: 740px;
    position: relative;
    border-radius: 5px;
    margin: 0 !important;
    background-color: #fefefe;
    transition-duration: 200ms;
    border-bottom: 2px solid black;
    transition-property: background-color;
    font-family: var(--font-family-reddit);
    box-shadow:
        0px 0px 2.2px rgba(0, 0, 0, 0.052),
        0px 0px 5.3px rgba(0, 0, 0, 0.099),
        0px 0px 10px rgba(0, 0, 0, 0.108),
        0px 0px 9px rgba(0, 0, 0, 0.179),
        0px 0px 4px rgba(0, 0, 0, 0.254),
        0px 0px 8px rgba(0, 0, 0, 0.33);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.form-group-hotels {
    display: flex;
    margin-bottom: 20px;
    width: 90% !important;
    flex-direction: column;
}

.flexx {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.flexx input {
    width: 46%;
    height: 40px;
}

.form-group-three {
    gap: 5px;
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex {
    gap: 5px;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}

.flex h1 {
    min-width: 45px;
    text-align: center;
}

.flex input {
    width: 41vw;
    font-size: 16px;
    max-width: 253px;
}

.flex label {
    width: 100px;
}

.procedbtn {
    width: 200px;
    border: none;
    display: flex;
    color: #05203C;
    cursor: pointer;
    padding: 1em 2em;
    font-weight: 700;
    margin: 5px auto;
    align-items: center;
    border-radius: 1.1em;
    letter-spacing: 0.1em;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #1c1c1c;
    --hover-shadows: 4px 4px 10px #121212;
    font-family: var(--font-family-reddit);
    --accent: var(--main-light-green-color);
    transition: box-shadow ease-in-out 0.2s, background-color ease-in-out 0.1s,
        letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
}

.procedbtn:hover {
    box-shadow: 3px 3px 6px rgb(82, 82, 82);
}

.procedbtn:active {
    transform: scale(0.95);
    background-color: var(--accent);
    box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
}

.autocomplete {
    gap: 5px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.autocomplete {
    gap: 5px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.iconholder {
    left: auto;
    z-index: 9;
    right: auto;
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    background-color: white;
    border: 4px solid #00005c;
}

.iconholder-mobile {
    left: auto;
    right: auto;
    width: 30px;
    height: 30px;
    z-index: 9999;
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    background-color: white;
    border: 4px solid #00005c;
}

.autocompletehotel {
    height: 38px;
    display: flex;
    position: relative;
}

.suggestions {
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1000;
    overflow-y: auto;
    max-height: 150px;
    position: absolute;
    list-style-type: none;
    background-color: white;
    border: 1px solid #ccc;
}

.suggestions li {
    gap: 5px;
    padding: 8px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}

.suggestionshotel {
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1000;
    overflow-y: auto;
    max-height: 150px;
    position: absolute;
    list-style-type: none;
    border: 1px solid #ccc;
    background-color: white;
}

.suggestionshotel li {
    padding: 8px;
    cursor: pointer;
}

.suggestionshotel li:hover {
    background-color: #f0f0f0;
}

.increase-decrease-btn {
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 1px solid #ccc;
    justify-content: center;
}

.counter h1 {
    margin: 0 10px;
}

.search-form {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.aradio-inputs {
    gap: 2px;
    display: flex;
    margin: 0 10px;
    font-size: 14px;
    min-width: 300px;
    transition: 0.3s;
    padding: 0.25rem;
    position: relative;
    border-radius: 0.5rem;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
}

.aradio-inputs .aradio {
    flex: 1 1 auto;
    transition: 0.3s;
    text-align: center;
}

.aradio-inputs .aradio input {
    display: none;
    transition: 0.3s;
}

.aradio-inputs .aradio .nname {
    border: none;
    display: flex;
    cursor: pointer;
    padding: .5rem 0;
    transition: 0.3s;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.aradio-inputs .aradio input:checked+.nname {
    color: white;
    transition: 0.3s;
    font-weight: 600;
    background-color: #05203C;
}

.aradio-inputs .aradio:hover .nname {
    color: white;
    transition: 0.3s;
}

.aradio-inputs .aradio:hover {
    color: white;
    transition: 0.3s;
    font-weight: 600;
    border-radius: 0.5rem;
    background-color: #05203C;
}

.selectedtocode {
    right: 15px;
    display: flex;
    min-width: 60px;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    align-items: center;
    background-color: #fff;
    border-left: 1px solid #05203C;
    box-shadow: -5px 0px 6px white;
}

.mydiv {
    display: flex;
    position: relative;
    align-items: center;
}

.mydiv input {
    padding-right: 70px;
}

.selectedfromcode {
    right: 15px;
    display: flex;
    min-width: 60px;
    padding: 0 10px;
    position: absolute;
    text-align: center;
    align-items: center;
    background-color: #fff;
    border-left: 1px solid #05203C;
    box-shadow: -5px 0px 6px white;
}

@media screen and (max-width: 1300px) {
    .iconholder {
        display: none;
    }

    .search-container {
        max-width: 600px;
    }

    .aradio-inputs {
        width: 90%;
    }

    .form-group-three {
        display: flex;
        align-items: center !important;
        justify-content: center !important;
    }

    .ccontainer {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width:1300px) {

    .iconholder-mobile {
        display: none;
    }

    .input-style {
        color: black;
        height: 80px;
        width: 494px;
        outline: none;
        font-size: 20px;
        border-radius: 5px;
        padding: 10px 20px;
        border: 2px solid #ccc;
    }

    .mydiv {
        position: relative;
    }

    .inputuno {
        border-top-left-radius: 30px !important;
        border-bottom-left-radius: 30px !important;
    }

    .input-style.inputcuatro {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .autocomplete {
        flex-direction: row;
    }

    .inputholder {
        gap: 5px;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .flex {
        margin: 0;
        flex-direction: row;
    }

    .flex input {
        max-width: 165px;
        min-width: 165px;
    }

    .input-style {
        width: 33vw;
    }

    .mydiv .input-style {
        padding-right: 73px;
    }

    .search-container {
        min-height: 320px;
    }

    .search-hotels-container {
        min-height: 200px;
        max-height: 200px;
    }

    .input-row h2 {
        font-size: 20px;
    }

    .number {
        font-size: 20px;
    }

    .aradio-inputs span {
        font-size: 16px;
    }

    .form-group-three {
        display: flex;
        justify-content: space-between;
    }

    .inputuno {
        padding-right: 70px !important;
    }

    .aradio-inputs {
        margin: 0 5px;
    }

    .ccontainer {
        margin: 0;
        display: flex;
        justify-content: flex-start;
    }

    .input-row {
        display: flex;
        margin: 0 5px;
        min-width: 170px;
    }

    .mydiv {
        display: flex;
        align-items: center;
    }

    .selectedtocode {
        right: 5px;
        height: 80%;
        display: flex;
        padding: 0 10px;
        font-size: 20px;
        position: absolute;
        text-align: center;
        align-items: center;
        background-color: #fff;
        border-left: 1px solid #05203C;
        box-shadow: -10px 0px 3px white;
    }

    .selectedfromcode {
        right: 15px;
        height: 80%;
        display: flex;
        padding: 0 10px;
        font-size: 20px;
        position: absolute;
        text-align: center;
        align-items: center;
        background-color: #fff;
        border-left: 1px solid #05203C;
        box-shadow: -5px 0px 6px white;
    }
}

@media screen and (max-width:830px) {
    .input-row {
        margin: 0 5px;
    }
}

@media screen and (min-width:830px) {
    .box {
        margin: auto;
        display: flex;
        left: auto !important;
        right: auto !important;
        align-self: center !important;
        justify-self: center !important;
    }

    .form-group-three {
        display: flex;
        justify-content: space-between;
    }

    .input-row {
        margin: 0 5px;
    }
}

@media screen and (max-width:670px) {
    .aradio-inputs {
        width: 77vw;
    }

    .input-row {
        width: 15vw;
    }
}

@media screen and (max-width: 365px) {
    .tab-container {
        flex-direction: column;
    }

    .ccontainer {
        flex-direction: column;
    }

    .input-row {
        min-width: 82vw;
    }

    .cloud {
        width: 50px;
        right: 90px;
        height: 50px;
    }

    .infouno svg,
    .infodos svg,
    .infotres svg {
        max-width: 200px;
    }

    .infouno h1,
    .infodos h1,
    .infotres h1 {
        font-size: 10px;
    }

    .infouno,
    .infodos,
    .infotres {
        font-size: 10px;
        max-width: 200px;
    }

    .card {
        padding: 0px;
        font-size: 12px;
        max-width: 200px;
    }

    .cloud {
        right: auto;
        left: 100px;
    }

    .main-text {
        width: 100px;
        margin-top: 10px;
    }

    .info {
        max-width: 100px;
        margin-bottom: 30px;
        flex-direction: column;
    }

    #card {
        max-width: 200px;
    }

    .info-right {
        left: 0;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .info-left {
        max-width: 100px;
    }

    .procedbtn {
        max-width: 100px;
    }

    .yellowcircle {
        min-width: 100px;
        max-width: 100px;
        max-height: 100px;
        min-height: 100px;
    }
}