* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "rubik"; */
    /* font-family: "reddit sans"; */
    /* border: 1px solid white; */
}

.yellow {
    width: 10px;
    height: 10px;
    color: yellow;
    margin-top: -24px;
    border-radius: 50%;
    margin-left: 250px;
    background-color: var(--main-yellow-color) ;
}

:root {
    --main-black-color: #000000;
    --main-white-color: #ffffff;
    --font-family-rubik: rubik;
    --font-family-reddit: reddit sans;
    --main-light-green-color: #43c7b1;
    --main-yellow-color:  rgb(255, 230, 0);
}

.upperpart {
    width: 100%;
    height: 680px;
    overflow: hidden;
    position: relative;
    background-color: var(--main-light-green-color);
}

.mainpicprt {
    bottom: 0;
    width: 700px;
    height: 700px;
    margin-top: 166px;
    margin-left: 110px;
    position: relative;
    border-radius: 50%;
    background-color: #03947c;
}

.main {
    left: 0;
    width: 640px;
    bottom: 300px;
    height: 500px;
    position: absolute;
}

.txtprt {
    display: flex;
    font-family: var(--font-family-reddit);
    color: var(--main-white-color);
}

.txtprtfrsth {
    font-size: 50px;
}

.txtprtscndh {
    font-size: 50px;
}

.txtprtrtra {
    width: 600px;
    margin-top: 80px;
    margin-left: -50px;
}

.txtprtp {
    font-size: 26px;
    margin-top: 20px;
}