* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "rubik"; */
    /* font-family: "reddit sans"; */
    /* border: 1px solid white; */
    /* border: none; */
}

.containerupr {
    gap: 30px;
    display: flex;
    max-width: 1600px;
    align-items: center;
    flex-direction: column;
}

.upperpart {
    display: flex;
    overflow: hidden;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.yellow {
    width: 10px;
    height: 10px;
    color: var(--main-yellow-color);
}

:root {
    --main-black-color: #000000;
    --main-white-color: #ffffff;
    --font-family-rubik: rubik;
    --font-family-reddit: reddit sans;
    --main-light-green-color: #43c7b1;
    --main-yellow-color: rgb(255, 230, 0);
}

.upperpart {
    width: 100%;
    height: 680px;
    overflow: hidden;
    position: relative;
    background-color: var(--main-light-green-color);
}

.mainpicprt {
    top: 80px;
    width: 600px;
    height: 600px;
    display: flex;
    position: relative;
    border-radius: 50%;
    background-color: #03947c;
}

.main {
    width: 600px;
    bottom: 165px;
    position: absolute;
}

.txtprt {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    color: var(--main-white-color);
    font-family: var(--font-family-reddit);
}

.txtprtrtra {
    width: 600px;
}

.txtprtfrsth {
    font-size: 50px;
}

.txtprtscndh {
    font-size: 50px;
}

.txtprtp {
    font-size: 26px;
    margin-top: 20px;
}

.hamdiv {
    width: 50px;
    height: 50px;
    display: flex;
    display: none;
    background: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}


/* MEDIA SCREEN PART STARTS */

/* mediascreen 1400px starts */

@media screen and (max-width:1399px) {

    .headerul a,
    .headerul li,
    .headerul {
        display: none;
    }

    .hamdiv {
        display: flex;
    }

    .container {
        display: flex;
        gap: 100px !important;
        padding-top: 110px !important;
    }

    .chcktbtn {
        width: 130px !important;
        height: 50px !important;
        border-radius: 30px !important;
        font-size: 16px !important;
    }

    .mainpicprt {
        top: 50px;
        width: 500px;
        height: 500px;
        left: 110px;
    }

    .main {
        bottom: 190px;
        right: 0;
        width: 500px;
        height: 400px;
    }

    .txtprtrtra h1 {
        font-size: 36px !important;
    }

    .txtprtrtra p {
        font-size: 18px;
    }

    .txtprtrtra {
        padding-right: 200px !important;
    }

    .txtprtscndh {
        font-weight: 400;
    }

    .upperpart {
        height: 500px;
    }
}

/* mediascreen max width 930px start */

@media screen and (max-width: 930px) {
    .container {
        gap: 10px !important;
        justify-content: space-between !important;
        padding: 0px 20px 0px 0 !important;
        padding-top: 140px !important;
    }

    .hamdiv {
        min-width: 50px !important;
        min-height: 50px !important;
    }

    .lftbtnsdv {
        margin-left: -40px !important;
    }

    .logo {
        width: 70px;
        height: 70px;
    }

    #iconfirst {
        display: none;
    }

    .chcktbtn {
        display: none;

    }

    .main {
        bottom: 174px;
        width: 370px !important;
        height: 300px !important;
    }

    .mainpicprt {
        width: 300px !important;
        margin-top: 200px !important;
    }

    .upperpart {
        height: 660px;
    }

    .txtprt {
        text-align: center;
        margin-right: 470px;
    }

    .txtprtrtra p {
        font-size: 14px;
    }

    .txtprtrtra h1 {
        font-size: 30px !important;
    }

    .mainpicprt {
        left: 55%;
        margin-bottom: 40px;
        width: 340px !important;
        height: 440px !important;
    }
}

/* mediascreen max width 930px ed */


/* mediascreen till 1250 px start */

@media screen and (max-width: 1250px) {
    .txtprtrtra {
        margin-right: -200px !important;
    }

    .mainpicprt {
        margin-left: -100px !important;
    }
}

/* mediascreen till 1250 px end */

/* MEDIA SCREEN PART ENDS */