* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "rubik"; */
    /* font-family: "reddit sans"; */
    /* border: 1px solid white; */
    /* border: none; */
}

.containerupr {
    gap: 30px;
    display: flex;
    max-width: 1360px; 
    align-items: center;
    flex-direction: column;
}

.upperpart{
    display: flex;
    overflow: hidden;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.yellow {
    width: 10px;
    height: 10px;
    color: yellow;
    margin-top: -24px;
    border-radius: 50%;
    margin-left: 250px;
    background-color: var(--main-yellow-color) ;
}

:root {
    --main-black-color: #000000;
    --main-white-color: #ffffff;
    --font-family-rubik: rubik;
    --font-family-reddit: reddit sans;
    --main-light-green-color: #43c7b1;
    --main-yellow-color:  rgb(255, 230, 0);
}

.upperpart {
    width: 100%;
    height: 680px;
    overflow: hidden;
    position: relative;
    background-color: var(--main-light-green-color);
}

.mainpicprt {
    top: 80px;
    width: 600px;
    height: 600px;
    display: flex;
    position: relative;
    border-radius: 50%;
    background-color: #03947c;
}

.main {
    width: 600px;
    bottom: 125px;
    position: absolute;
}

.txtprt {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
    color: var(--main-white-color);
    font-family: var(--font-family-reddit);
}

.txtprtrtra {
    width: 600px;
}

.txtprtfrsth {
    font-size: 50px;
}

.txtprtscndh {
    font-size: 50px;
}

.txtprtp {
    font-size: 26px;
    margin-top: 20px;
}

